
.node {
    height: 25px;
    width: 25px;
    display: table-cell;
    border: 0.5px solid rgb(233, 233, 233);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes visitedAnimation {
    0% {
        transform: scale(0.5);
        background-color: rgba(150, 67, 206, 0.75);
        border-radius: 100%;
    }
  
    50% {
        background-color: rgba(134, 112, 170, 0.75);
    }
  
    75% {
        transform: scale(1.2);
        background-color: rgba(200, 187, 216, 0.75);
    }
  
    100% {
        transform: scale(1);
        background-color: rgba(2, 76, 236, 0.548);
        border-radius: 10%;
    }
  }
  
.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.8);
        background-color: orange;
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
        background-color: orange;
        border-radius: 100%;
    }

    100% {
        transform: scale(1);
        background-color: orange;
        border-radius: 35%;
    }
}

.node-is-wall {
    animation-name: nodeIsWall;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeIsWall {
    0% {
        transform: scale(1.2);
        background-color: black;
        border-radius: 100%;
    }

    100% {
        transform: scale(1);
        background-color: black;
        border-radius: 10%;
    }
}

.node-is-start {
    animation-name: nodeIsStart;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeIsStart {
    0% {
        transform: scale(0.2);
        background-color: rgb(0, 255, 110);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(0, 255, 110);
    }

    100% {
        transform: scale(1);
        background-color: rgb(0, 255, 110);
        border-radius: 100%;
    }
}

.node-is-end {
    animation-name: nodeIsEnd;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeIsEnd {
    0% {
        transform: scale(0.2);
        background-color: rgb(255, 81, 0);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(255, 81, 0);
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 81, 0);
        border-radius: 100%;
    }
}