
.node {
    height: 17px;
    width: 17px;
    display: table-cell;
    border: 0.5px solid rgb(216, 216, 216);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-is-heavy-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes visitedAnimation {
    0% {
        transform: scale(0.5);
        background-color: rgb(255, 190, 71);
        border-radius: 100%;
    }
  
    50% {
        background-color: rgb(252, 206, 122);
    }
  
    75% {
        transform: scale(1.2);
        background-color: rgb(255, 181, 43);
    }
  
    100% {
        transform: scale(1);
        background-color: rgb(255, 230, 184);
        border-radius: 10%;
    }
  }
  
.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.8);
        background-color: rgb(255, 148, 47);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(252, 132, 21);
        border-radius: 100%;
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 123, 0);
        border-radius: 20%;
        border: 0.5px solid rgb(255, 123, 0);
    }
}

.node-is-wall {
    animation-name: nodeIsWall;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeIsWall {
    0% {
        transform: scale(1.2);
        background-color: black;
        border-radius: 10%;
    }

    100% {
        transform: scale(1.0);
        background-color: black;
        border-radius: 0%;
        border: 0.5px solid rgb(0, 0, 0);
    }
}

.node-is-start {
    animation-name: nodeIsStart;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeIsStart {
    0% {
        transform: scale(1);
        background-color: rgb(0, 255, 213);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(0, 255, 213);
    }

    100% {
        transform: scale(1);
        background-color: rgb(0, 255, 213);
        border-radius: 100%;
    }
}

.node-is-end {
    animation-name: nodeIsEnd;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeIsEnd {
    0% {
        transform: scale(1);
        background-color: rgb(255, 81, 0);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(255, 81, 0);
    }

    100% {
        transform: scale(1);
        background-color: rgb(255, 81, 0);
        border-radius: 100%;
    }
}


.node-is-heavy-3 {
    background-color: rgb(255, 167, 255);
    animation-name: nodeIsHeavy;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-is-heavy-5 {
    background-color: rgb(255, 0, 255);
    animation-name: nodeIsHeavy;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-is-heavy-3-shortest-path {
    background-color: rgb(167, 1, 1);
    border: 0.5px solid rgb(255, 123, 0);
    animation-name: nodeIsHeavy;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.node-is-heavy-5-shortest-path {
    background-color: rgb(107, 0, 0);
    border: 0.5px solid rgb(255, 123, 0);
    animation-name: nodeIsHeavy;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes nodeIsHeavy {
    0% {
        transform: scale(1);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        border-radius: 10%;
    }
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}