.modal-card {
    display: flex;
    flex-direction: column;
    align-items: center ;
    width:47vw;
    margin-left: calc((-47vw + 100%)/2);
}

.settings-card {
    display: flex;
    flex-direction: column;
    align-items: center ;
    width:20vw;
    margin-left: calc((-20vw + 100%)/2);
}

img.tutorial {
    border: 3px solid black;
    height: 400px;
}